*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem is 10px */
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background: #39AEA9;
    padding: 4rem;
    
}

.cards{
    height: 85vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 1);
}

.card{
    list-style: none;
    background: rgba(225,225,225,0.9);
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
}

.card--first{
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;

}

.card--first > input{
    width: 70%;
    height: 4rem;
    font-size: 4rem;
    font-family: sans-serif;
    padding-left: 2rem;
    border-radius: 1rem;
}


.card--second{
    grid-column: 5 / 13;
    grid-row: 1 / 9;

}

.card--third{
    grid-row: 7 / 13;
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--third > img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.card--third > button{
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #ee1515;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.h2{
    padding: 1rem;
}

.p{
    padding: 1rem;
}

@media screen and (max-width: 87.5rem) {
    .card--third{
        grid-column: 1 / 5;
    }

    .card--second{
        grid-row: 1 / 13;
    }
    
}

@media screen and (max-width: 62.5rem) {

    .card--first, .card--second{
        display: none;
    }
}

@media screen and (max-width: 62.5rem) {
    .card--third{
        grid-column: 1 / 13;
        grid-row: 1 / 13;
    }
}